# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
**/node_modules/

# Build
dist
dist-ssr
build
**/dist
**/build

# Env
.env
**/.env
.env.production
**/.env.production

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
mongo-data/

# Backups MongoDB
*.gz
*.tar.gz
backups/
backend/backups/

# Certificados SSL locales
certbot-conf/
certbot-www/
